/*FONTS*/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

/* Styles pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

h1 {
  text-align: center;
}
